<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="itemsync:dumpitem">
        <patch:attribute name="type">Sitecore.Support.Shell.Framework.Commands.Serialization.DumpItemCommand,Sitecore.Support.103362</patch:attribute>
      </command>
      <command name="itemsync:dumptree">
        <patch:attribute name="type">Sitecore.Support.Shell.Framework.Commands.Serialization.DumpTreeCommand,Sitecore.Support.103362</patch:attribute>
      </command>
    </commands>

    <pipelines>
      <job>
        <processor type="Sitecore.Support.Jobs.JobRunner, Sitecore.Support.103362" method="EnterLanguageFallbackSwitcher" patch:before="processor[@type='Sitecore.Jobs.JobRunner, Sitecore.Kernel' and @method='RunMethod']" />
        <processor type="Sitecore.Support.Jobs.JobRunner, Sitecore.Support.103362" method="ExitLanguageFallbackSwitcher" patch:after="processor[@type='Sitecore.Jobs.JobRunner, Sitecore.Kernel' and @method='RunMethod']" />
      </job>
    </pipelines>
  </sitecore>
</configuration>